* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--background);
  >div {
    padding: 16px;
  }
}